

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

h1 {
	color: white;
}

header {
	display: flex;
	justify-content: center;
	background-image: url(img/fon.jpg);
	background-repeat: no-repeat;
	font-family: sans-serif;
	font-size: 1em;
}

content {
	background-image: url(img/fon.jpg);
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.interface {
	display: flex;
	justify-content: space-evenly;
	height: 10%;
	width: 30%;
	align-items: center;
}

button {
	height: 40%;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.selection {
	height: 40%;
	border: 1px solid transparent;
	border-radius: .25rem;
}

#field {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	border: 2px solid #333;
	width: 300px;
	box-shadow: 0px 0px 20px white;
	overflow: hidden;
}

.square {
	width: 15px;
	height: 15px;
	border: 1px solid black;
	background-color: white;
	box-sizing: border-box;
}

.generation {
	padding-top: 10px;
	text-transform: uppercase;
}